**/build
**/install
**/log
**/build_isolated
**/install_isolated
**/devel_isolated

**/.pio
**/tmuxp/tmp/*.yaml
**/nav2_bringup
**/models/*.onnx
**/tutorial_ws/src/*
!**/tutorial_ws/src/README.md
**/rover_ws/src/rover_navigation/waypoints/*.json
!**/rover_ws/src/rover_navigation/waypoints/sim_waypoints.json

__pycache__
.vscode
.DS_Store
core