**/build
**/install
**/log
**/build_isolated
**/install_isolated
**/devel_isolated
**/.pio
**/mapproxy/cache_data/*
**/rover_ws/src/rover_gazebo/bags
**/tmuxp/tmp/*

__pycache__
.vscode
.DS_Store
core