**/build
**/install
**/log
**/build_isolated
**/install_isolated
**/devel_isolated

**/.pio
**/mapproxy/cache_data/*
**/tmuxp/tmp/*.yaml
**/nav2_bringup
**/mapproxy/bounding_boxes_map.html

__pycache__
.vscode
.DS_Store
core