<?xml version="1.0" ?>
<robot name="rover" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Created by Nelson Durrant, Mar 2025 -->
  <!-- Based on the sensor joints from the turtlebot3 gps, modified to match our config -->

  <!-- Rover constants -->
  <xacro:property name="base_width" value="1.0"/>
  <xacro:property name="base_length" value="1.5"/>
  <xacro:property name="base_height" value="0.5"/>
  <xacro:property name="wheel_radius" value="0.2"/>
  <xacro:property name="wheel_width" value="0.1"/>
  <xacro:property name="wheel_xoff" value="0.6"/>
  <xacro:property name="wheel_ygap" value="0.05"/>
  <xacro:property name="wheel_zoff" value="0.2"/>
  <xacro:property name="antenna_length" value="0.5"/>

  <!-- Rover base -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="${base_length} ${base_width} ${base_height}"/>
      </geometry>
      <material name="White">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <!-- Rover wheels function -->
  <xacro:macro name="wheel" params="prefix x_reflect y_reflect wheel_pos">
    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
        <material name="White">
          <color rgba="1 1 1 1"/>
        </material>
      </visual>
    </link>

    <joint name="${prefix}_joint" type="fixed">
      <parent link="base_link"/>
      <child link="${prefix}_link"/>
      <origin xyz="${x_reflect*(wheel_xoff - (wheel_pos * (base_length/3)))} ${y_reflect*(base_width/2+wheel_ygap)} ${-wheel_zoff}" rpy="0 0 0"/>
    </joint>
  </xacro:macro>

  <!-- Rover wheels -->
  <xacro:wheel prefix="drivewhl_l_front" x_reflect="-1" y_reflect="1" wheel_pos="0"/>
  <xacro:wheel prefix="drivewhl_l_middle" x_reflect="-1" y_reflect="1" wheel_pos="1"/>
  <xacro:wheel prefix="drivewhl_l_rear" x_reflect="-1" y_reflect="1" wheel_pos="2"/>
  <xacro:wheel prefix="drivewhl_r_front" x_reflect="-1" y_reflect="-1" wheel_pos="0"/>
  <xacro:wheel prefix="drivewhl_r_middle" x_reflect="-1" y_reflect="-1" wheel_pos="1"/>
  <xacro:wheel prefix="drivewhl_r_rear" x_reflect="-1" y_reflect="-1" wheel_pos="2"/>

  <!-- Antenna pole -->
  <link name="antenna_link">
    <visual>
      <geometry>
        <cylinder radius="0.01" length="${antenna_length}"/>
      </geometry>
      <material name="White">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <joint name="antenna_joint" type="fixed">
    <parent link="base_link"/>
    <child link="antenna_link"/>
    <origin xyz="0 0 0.5" rpy="0 0 0"/>
  </joint>

  <!-- Sensors -->

  <joint name="gps_joint" type="fixed">
    <parent link="base_link"/>
    <child link="gps_link"/>
    <!-- TODO: Update the gps position - Nelson -->
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="gps_link"/>

  <joint name="aruco_cam_joint" type="fixed">
    <parent link="base_link"/>
    <child link="aruco_cam_link"/>
    <!-- TODO: Update the aruco cam position - Nelson -->
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="aruco_cam_link"/>

  <!-- https://github.com/unitreerobotics/unilidar_sdk/blob/main/unitree_lidar_ros2/src/unitree_lidar_ros2/README.md -->

  <joint name="unilidar_lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="unilidar_lidar"/>
    <!-- TODO: Update the lidar position - Nelson -->
    <origin xyz="-0.064 0 0.122" rpy="0 0 0"/>
  </joint>

  <link name="unilidar_lidar"/>

  <joint name="unilidar_imu_joint" type="fixed">
    <parent link="unilidar_lidar"/>
    <child link="unilidar_imu"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="unilidar_imu"/>

  <!-- TODO: Figure out the if the ZED camera already links itself to base_link -->
  <!-- https://www.stereolabs.com/docs/ros2/020_zed-node#transform-frames -->

  <joint name="zed2_camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="zed2_camera_link"/>
    <!-- TODO: Update the camera position - Nelson -->
    <origin xyz="-0.064 0 0.122" rpy="0 0 0"/>
  </joint>

  <link name="zed2_camera_link"/>

</robot>