<!-- Created by Nelson Durrant, Mar 2025 -->
<!-- Based on the sensor joints from the turtlebot3 gps, modified to match our config -->
<!-- No visual elements are added to the URDF file, only the joints and links -->

<?xml version="1.0" ?>
<robot name="rover" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- TODO: Make the basic rover structure - Nelson -->

  <joint name="gps_joint" type="fixed">
    <parent link="base_link"/>
    <child link="gps_link"/>
    <!-- TODO: Update the gps position - Nelson -->
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="gps_link"/>

  <joint name="aruco_cam_joint" type="fixed">
    <parent link="base_link"/>
    <child link="aruco_cam_link"/>
    <!-- TODO: Update the aruco cam position - Nelson -->
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="aruco_cam_link"/>

  <!-- https://github.com/unitreerobotics/unilidar_sdk/blob/main/unitree_lidar_ros2/src/unitree_lidar_ros2/README.md />

  <joint name="unilidar_lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="unilidar_lidar"/>
    <!-- TODO: Update the lidar position - Nelson -->
    <origin xyz="-0.064 0 0.122" rpy="0 0 0"/>
  </joint>

  <link name="unilidar_lidar"/>

  <joint name="unilidar_imu_joint" type="fixed">
    <parent link="unilidar_lidar"/>
    <child link="unilidar_imu"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="unilidar_imu"/>

  <!-- TODO: Figure out the if the ZED camera already links itself to base_link -->
  <!-- https://www.stereolabs.com/docs/ros2/020_zed-node#transform-frames -->

  <joint name="zed2_camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="zed2_camera_link"/>
    <!-- TODO: Update the camera position - Nelson -->
    <origin xyz="-0.064 0 0.122" rpy="0 0 0"/>
  </joint>

  <link name="zed2_camera_link"/>

</robot>